:root {
    --primary-color: #b81414;
    --secundary-color: #4D7358;

    --primary-font: "Metamorphous", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: black;
}

.album-fotos {
    width: 1000px;
    height: 600px;
}

.album-fotos .cubierta {
    background: var(--primary-color) !important;
    color: white;
    font-weight: bold;
    border: none;
}

.album-fotos .page {
    background: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(0, 0, 0, 0.11);
}

.album-fotos .texto {
    background: #ecf0f1 url(../imagenes/pnjs/marco-negro.png);
    background-repeat: no-repeat;
    background-size: 117% 99%;
    background-position: 51% 0;
    text-align: center;
}

#marco-titulo {
    width: 100%;
}

.page p {
    margin: 10px;
    padding: 10px;
}

.page img {
    width: 70%;
    object-fit: cover;
    margin: auto;
}

.album-fotos .page small {
    font-size: 14px;
    margin-bottom: 10px;
}

#nav-bar {
    background: var(--primary-color);
}

@media only screen and (max-width: 900px) {
  nav.nav-desktop {
    display: none !important;
  }

  /* #marco-titulo{
    background: url(../imagenes/pnjs/movil/pnj-portada.jpg);
  } */

  nav.nav-mobile {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 75px;
    background-color: var(--primary-color);
    z-index: 1000;
  }
  #nav-mobile ul {
    display: none;
    flex-direction: column;
    left: 12px;
    padding: 0;
    margin: 0;
  }

  #menu:checked~ul {
    display: flex;
  }

  .menu-icon {
    font-size: 2em;
    cursor: pointer;
    display: block;
    padding: 10px;
  }

  nav.nav-mobile input:checked~ul {
    display: block;
    position: absolute;
    z-index: 10000 !important;
  }

  nav.nav-mobile input {
    display: block;
  }

  nav.nav-mobile label {
    box-sizing: border-box;
    display: inline-block;

    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    position: absolute;
    z-index: 10001;
  }

  nav.nav-mobile ul {
    margin-top: 0;
    padding: 0;
  }

  nav.nav-mobile li {
    display: block;
    margin: 0;
    padding: 10px;
    list-style: none;
  }

}