* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: url(../imagenes/cronica/fondo-pergamino.avif);
    background-size: cover;
}

.contenedor-flotantes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

.flotante {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
}

.flotante img {
    width: 100%;
    height: auto;
}

.flotante p {
    margin: 10px 0;
    font-family: 'Metamorphous', cursive;
}

.flotante:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}