* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: url(../imagenes/cronica/fondo-pergamino.avif);
    background-size: cover;
}

.contenedor-flotantes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
}

.flotante {
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;
}

.flotante img {
    width: 100%;
    height: auto;

}

.flotante p {
    margin: 10px 0;
    font-family: 'Metamorphous', cursive;
}

.flotante:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 900px) {
    .nav-desktop {
        display: none !important;
    }

    nav.nav-mobile {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 75px;
        z-index: 1000;
    }

    #nav-mobile ul {
        display: none;
        flex-direction: column;
        left: 12px;
        padding: 0;
        margin: 0;
        background-color: var(--primary-color);

    }

    #menu:checked~ul {
        display: flex;
    }

    .menu-icon {
        font-size: 2em;
        cursor: pointer;
        display: block;
        padding: 10px;
    }

    nav.nav-mobile input:checked~ul {
        display: block;
        position: absolute;
        z-index: 10000 !important;
    }

    nav.nav-mobile input {
        display: block;
    }

    nav.nav-mobile label {
        box-sizing: border-box;
        display: inline-block;

        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        position: absolute;
        z-index: 10001;
    }

    nav.nav-mobile ul {
        margin-top: 0;
        padding: 0;
    }

    nav.nav-mobile li {
        display: block;
        margin: 0;
        padding: 10px;
        list-style: none;
    }

}